
@{
    ViewBag.Title = "Show";
}

<h2>评价管理表</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>商品图片</th>
            <th>商品名称</th>
            <th>商品分类</th>
            <th>商品品牌</th>
            <th>评价用户</th>
            <th>用户满意度</th>
            <th>评价内容</th>
            <th>评价时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="tb"></tbody>
</table>
<table class="table">
    <tr>
        <td>总记录<span id="TotalCount">0</span>条</td>
        <td>共有<span id="TotalPage">1</span>页</td>
        <td>当前<span id="CurrentPage">1</span>页</td>
        <td><a href="javascript:;" onclick="Show(1);">首页</a></td>
        <td><a href="javascript:;" onclick="Show(CurrentPage - 1);">上一页</a></td>
        <td><a href="javascript:;" onclick="Show(CurrentPage + 1);">下一页</a></td>
        <td><a href="javascript:;" onclick="Show(TotalPage);">尾页</a></td>
    </tr>
</table>
@section scripts{
    <script>
        var PageSize = 2;
        var CurrentPage = 1;
        var TotalPage = 1;
        //页面第一次加载
        $(function () {
            Show();
        })
        //显示
        function Show(page) {
            var obj = {};
            obj.timeone = $("#timeone").val();
            obj.timetwo = $("#timetwo").val();
            obj.names = $("#names").val();
            obj.xiala = $("#xiala").val();

            obj.CurrentPage = page;
            obj.PageSize = PageSize;

            $.ajax({
                url: "https://localhost:44311/api/Pingjia",
                type: "get",
                dataType: "json",
                data: obj,
                success: function (d) {
                    $("#TotalCount").text(d.TotalCount);
                    $("#TotalPage").text(d.TotalPage);
                    $("#CurrentPage").text(d.CurrentPage);
                    CurrentPage = d.CurrentPage;
                    TotalPage = d.TotalPage;

                    $("#tb").empty();
                    $(d.Amodels).each(function () {
                        var line = "<tr>"
                            + "<td><img src='" + this.Ptupian + "' alt='' width='100'/></td>"
                            + "<td>" + this.Pname + "</td>"
                            + "<td>" + this.Sname + "</td>"
                            + "<td>" + this.Bname + "</td>"
                            + "<td>" + this.Uname + "</td>"
                            + "<td>" + this.Amessages + "</td>"
                            + "<td>" + this.Ainfor + "</td>"
                            + "<td>" + this.Atime + "</td>"
                            + "<td>" + '<a href=javascript:; onclick=Del(' + this.Aid + ')>删除评价</a>' +"</td>"
                            + "</td>"
                            + "</tr>"
                        $("#tb").append(line);
                    })
                }
            })
        }
        //删除评价
        function Del(Aid) {
            $.ajax({
                url: 'https://localhost:44311/api/historic/Deletes?id=' + Aid,
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    if (d>0) {
                        alert("删除成功");
                        location.href = '/Pingjia/Show';
                    }

                }
            })
        }
    </script>
    }
